:root {
  --dark: #32292f;
  --mid: #a47963;
  --light: #f0f7f4;
}

/* html { background-color: var(--dark); } */

.mid-color {
  background-color: var(--mid);
}

.light-color {
  background-color: var(--light);
}


.form-wrapper {
  margin: auto;
  width: 600px;
}

.form-checkbox {
  text-align: left;
}

.input-field {
  display: block;
}


.App {
  text-align: center;
}

.main-container {
  margin-top: 0.13rem;
}

.search {
  margin-top: 2.6rem;
}

.locate {
  margin-top: 3rem;
}

.libraryContainer {
  display: flex;
}

.libraryDetails {
  background-color: var(--dark);
  width: 60%;
}
.libraryDetails img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin: 30px 0;
}

.libraryDetails p {
  color: var(--light);
}
